@import 'utils/_vars.scss';

.Header {
	color: grey;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.NotesList {
	margin-top: $spaceBase;
	&-list {
		display: flex;
		flex-wrap: wrap;
		gap: $spaceBase;

		&-item {
			flex: 1;

			@media screen and (min-width: 768px) {
				flex: 0 1 318px;
			}

			.Note {
				height: 100%;
			}
		}
	}
}

.Note {
	display: flex;
	flex-direction: column;
}

.NoteModal,
.Note {
	&-text {
		border-radius: 6px;
		border: 1px solid #00000020;
		flex: 1;
		margin: $spaceBase * 0.5 0 $spaceBase * 0.5;
		padding: $spaceBase * 0.5 $spaceBase * 0.75;

		p {
			margin: 0 0 8px;

			&.ql-align-center {
				text-align: center;
			}

			&.ql-align-right {
				text-align: right;
			}
		}

		ul {
			margin: 8px 0;
		}

		h1,
		h2,
		h3 {
			margin: 10px 0 8px;
			line-height: 1.3;
		}

		pre,
		code {
			background-color: #efefef;
			border-radius: 4px;
			line-height: 1.35;
			padding: 4px 8px;
		}

		pre {
			margin: 8px 0;
		}
	}
}
