@import 'utils/vars';

.NotesApp {
	display: grid;
	grid-template-rows: min-content auto 60px;
	min-height: 100vh;

	&-header,
	&-body,
	&-footer {
		padding: $spaceBase;
	}

	&-body {
		background-color: #f8f9fa;
	}
}
